.css {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    display: flex;
    justify-content: center;
  }

  &__button {
    width: 200px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    color: #000000;
    text-align: center;
    padding: 15px;
    background: linear-gradient(315deg, #ee92ed, #8ae98a);
  }
}
.question {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 20px;

  &__left {
    width: 45%;
    margin-right: 100px;

    &__main {
      margin-left: 50px;
      width: 100%;

      &__numbers {
        display: flex;
        flex-wrap: wrap;
        color: rgb(0, 0, 0);
        font-weight: 700;
        background: linear-gradient(315deg, #86d0f3, #f2769d);
      }
    }
  }
  &__container {
    border-left: 2px solid #ccc;
    height: 72vh;
    width: 50%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 50px;

    &__timer {
      font-size: 20px;
      color: #000000;
      text-align: center;
      margin-bottom: 30px;
      padding: 10px;
      background: white;

      &__controls {
        margin-top: 10px;

        & button {
          margin-right: 10px;
          padding: 5px 10px;
          font-size: 16px;
          cursor: pointer;
          background-color: #000000;
          color: white;
          border: none;
          border-radius: 5px;

          & button:hover {
            background-color: #0056b3;
          }
        }
      }
    }

    &__q {
      font-size: 25px;
      line-height: 1.5;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 50px;
      text-align: center;
    }
  }
}

.btn {
  font-size: 15px;
  padding: 10px;
  background-color: #ffffff;
  transition: background-color 0.3s;

  &:hover {
    background-color: #cccccc;
  }
}
.number {
  width: calc(20% - 10px);
  height: 50px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
}

.selected {
  background: linear-gradient(315deg, #ff00fb, #4dff4d);
  color: white;
}
